@using BlazorApp1.Shared

<div class="p-1">
    <RadzenCard>
        <RadzenText>@quesitonNumber</RadzenText>

        <RadzenText 
            TextStyle="TextStyle.Subtitle2" 
            TagName="TagName.H3">
            Enter your Radio Button Question
        </RadzenText>

        <RadzenTextArea @bind-Value=MainMultiChoiceQuestion
                        Change=@(args => SetQuestionLocal())
                        Placeholder="Enter here..." />

        <hr>

        <RadzenText 
            TextStyle="TextStyle.Subtitle2" 
            TagName="TagName.H3">
            Enter your RadioButton answers (users can only select one of these)
        </RadzenText>

        <div class="row">
            <div class="col-9 p-1">
                <RadzenTextArea @bind-Value=currentMultiChoiceQuestion Change=@(args => SetQuestionLocal())
                    Placeholder="Enter here..." />
            </div>
            <div class="col-3 p-1">
                <RadzenButton Click=@(args => addQuestion(@currentMultiChoiceQuestion?? "no val"))>
                    Add
                </RadzenButton>
            </div>
        </div>

        @foreach (IndividualMultichoiceQuestion quesiton in listOfMultiChoiceAnswers)
        {
            <RadioOption 
                onclick=@(args => removeQuestionFromList(quesiton))
                valueChangeSoSaveQuestion=@(() => SetQuestionLocal())
                Answer=@quesiton.question />
        }
    </RadzenCard>
</div>

@code {
    [Parameter]
    public int quesitonNumber { get; set; }

    [Parameter]
    public EventCallback<Question> SetQuestion { get; set; }

    [Parameter]
    public List<IndividualMultichoiceQuestion> listOfMultiChoiceAnswers { get; set; }

    [Parameter]
    public string? MainMultiChoiceQuestion { get; set; }

    public string? currentMultiChoiceQuestion { get; set; }

    private async Task SetQuestionLocal() => await SetQuestion.InvokeAsync(
        new Question
            {
                QuestionNumber = quesitonNumber,
                question = MainMultiChoiceQuestion,
                listOfMultiChoiceQuestions = listOfMultiChoiceAnswers,
                QuestionType = QuestionType.MultiChoice,
            }
    );
}

@code {
    public void removeQuestionFromList(IndividualMultichoiceQuestion questionToRemove)
    {
        listOfMultiChoiceAnswers.Remove(questionToRemove);
    }

    public void addQuestion(string questionToAdd)
    {
        if (questionToAdd == "no val" || questionToAdd == "")
        {
            return;
        }
        currentMultiChoiceQuestion = questionToAdd;
        listOfMultiChoiceAnswers.Add(new IndividualMultichoiceQuestion { question = questionToAdd });
        currentMultiChoiceQuestion = "";
    }
}
