@using BlazorApp1.Shared

<RadzenCard>

	<RadzenText>Name of form @form.name</RadzenText>
	<RadzenText>Date created @form.dateCreated</RadzenText>
	<RadzenText>Amount Of Questions @form.QuestionList.Count().ToString()</RadzenText>
	@foreach(Question question in form.QuestionList ?? new List<Question>()){
		<RadzenText>@question.question</RadzenText>
	}


	<div class="row">
		<div class="col-10">
			<RadzenButton >update</RadzenButton>
			<RadzenButton Click=@ChooseFormLocal>set as the Form Users will see</RadzenButton>
		</div>
		<div class="col-2">
			<RadzenButton Click=@DeleteForm Text="Delete">
				<RadzenIcon Icon="close"></RadzenIcon>
			</RadzenButton>
		</div>
	</div>
</RadzenCard>

@code {
	[Parameter]
	public Form form { get; set; }

	[Parameter]
	public EventCallback<int> choseForm { get; set; }

	private async Task ChooseFormLocal() => await choseForm.InvokeAsync(form.ID);

	[Parameter]
	public EventCallback<int> deleteForm { get; set; }

	private async Task DeleteForm() => await deleteForm.InvokeAsync(form.ID);

}