@page "/createForm"
@using BlazorApp1.Client.features.addForm.presentation

<div class="row">
    <div class="col-8">
	<QuestionHolder />
    </div>
    <div class="col-1"></div>
    <div class="col-3">
    <AddQuestionBox/>
    </div>
</div>
