@page "/questions"
@inject IQuestionService QuestionService

<PageTitle>Index</PageTitle>

@if (QuestionService.Questions.Count <= 0)
{
	<span>Loading...</span>
}
else
{
	<ul>
		@foreach(var question in QuestionService.Questions)
		{
			<li>@question.question</li>
		}
	</ul>
}

@code {
	protected override async Task OnInitializedAsync()
	{
		await QuestionService.GetQuestions();
	}
}

