@using BlazorApp1.Shared
@using BlazorApp1.Client.features.addForm.presentation.QuestionList.quesitons

<div>
	<AddQuestionCard questionType=QuestionType.TextQuestion onClick=@onClick/>
    <AddQuestionCard questionType=QuestionType.NumberQuestion onClick=@onClick />
    <AddQuestionCard questionType=QuestionType.MultiChoice onClick=@onClick />
    <AddQuestionCard questionType=QuestionType.RadioQuestion onClick=@onClick />
    <AddQuestionCard questionType=QuestionType.BooleanQuestion onClick=@onClick />
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public EventCallback<QuestionType> onClick { get; set ; }

    private string fixedClass = "";

    private string Classes
    {
        get
        {
            return $"{fixedClass} {Class}";
        }
    }
}

