@using BlazorApp1.Shared

<div class="p-1">
	<RadzenCard>
		<div class="row">
			<div class="col-6">
				<RadzenText>@questionType.ToString()</RadzenText>
			</div>
			<div class="col-2"></div>
			<div class="col-3">
				<RadzenButton Click=@invokeClick>
					<RadzenIcon Icon="add"></RadzenIcon>
				</RadzenButton>
			</div>
		</div>
	</RadzenCard>
</div>

@code {
	[Parameter]
	public QuestionType questionType { get; set; }

	[Parameter]
	public EventCallback<QuestionType> onClick { get; set; }

	private async Task invokeClick() => await onClick.InvokeAsync(questionType);
}
