@using BlazorApp1.Client.features.addForm.presentation.QuestionList
@using BlazorApp1.Client.features.addForm.presentation.RightSideAddQuestionCard
@using BlazorApp1.Client.features.addForm.presentation
@using BlazorApp1.Shared

<div class="row">
    <div class="row">

    <div class="col-6 p-2">
        <RadzenCard>
            <div class="row">
                <div class="col-2">
                    <RadzenText>Name</RadzenText>
                </div>
                <div class="col-8">
                    <RadzenTextArea @bind-Value=title 
                    Change=@(args => SetTitleLocal()) 
                    Placeholder="Enter your form name here..." 
                    Rows=1
                    Cols=40

                    />
                </div>
            </div>
        </RadzenCard>
    </div>
    
    <div class="col-6 p-2">
        <RadzenCard>
            <div class="row">
                <div class="col-2">
                    <RadzenText>Email</RadzenText>
                </div>
                <div class="col-8">
                    <RadzenTextArea @bind-Value=email 
                    Rows=1
                    Cols=40
                    Change =@(args => SetEmailLocal()) 
                    Placeholder="Enter email to send forms to here..." />
                </div>
            </div>
        </RadzenCard>
    </div>

    </div>
    <div class="col-8">
        <QuestionHolder questionList=@questionList SetQuestion=@SetQuestion />
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <AddQuestionBox onClick=@onClick/>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<QuestionType> onClick { get; set; }

    [Parameter]
    public List<Question> questionList { get; set; }
        
    [Parameter]
    public string title { get; set; }
    
    [Parameter]
    public string email { get; set; }

    [Parameter]
    public EventCallback<Question> SetQuestion { get; set; }

    [Parameter]
    public EventCallback<string> setTitile { get; set; }

    // although this is creating a new question it is replacing the old question
    private async Task SetTitleLocal() => await setTitile.InvokeAsync(title);
    
    [Parameter]
    public EventCallback<string> setEmail { get; set; }

    // although this is creating a new question it is replacing the old question
    private async Task SetEmailLocal() => await setEmail.InvokeAsync(email);

}
