@using BlazorApp1.Client.features.addForm.presentation.quesitons
@using BlazorApp1.Shared.questionTypes
@using BlazorApp1.Shared
@using System.Collections.Generic;



@foreach (Question question in @questionList)
{
    switch ((Question)question)
    {
        case TextQuestion:
        <TextQuestionComposable quesitonNumber="question.QuestionNumber"></TextQuestionComposable>
            break;
            case NumberQuestion:
        <NumberQuestionComposable></NumberQuestionComposable>
            break;
            case RadionButtonQuestion:
        <RadioQuestionComposable></RadioQuestionComposable>
            break;
            case BooleanQuesiton:
        <BooleanQuestionComposable></BooleanQuestionComposable>
            break;
            case MultiChoiceQuestion:
        <MultiChoiceQuestionComposable></MultiChoiceQuestionComposable>
            break;
        default:
            <p>connor fucked up here</p>
            break;
    }
}


@code{
    [Parameter]
    public List<Question> questionList { get; set;}
}

