@inject IQuestionService QuestionService

@page "/"

<PageTitle>Getting Started</PageTitle>

<p>Gidday Atlas Law!
	this app will allow you to set and change the form on the atlas forms app att any time, to add a form head to the new form page and add questions 
	form the side bar that you 
	want to have in your questionare, then click finished.
	once you have finished writting your form head to the set current form page and choose the form you want to have as 
	your current set form. 
</p>

<RadzenButton Click=@click>Console write</RadzenButton>

@code{
	private void click()
	{
		Console.WriteLine("test write to console");
	}
}