
@inject appState appState

<div class="col-md-6 col-lg-6 p-3">
    <RadzenCard>
        
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">
            Enter your Text Question
        </RadzenText>

        <div class="row">
            <RadzenTextBox 
                @bind-Value=appState.questionBeingAdded 
                Placeholder="Text Question" 
                Change=@(args => appState.OnChange(args, "TextBox with placeholder")) 
                class="col-7" />
        
            <RadzenButton 
                Click=@(args => appState.addQuestion(@appState.questionBeingAdded?? "no val")) 
                class="col-5">
                Add Question
            </RadzenButton>
        </div>
        
        @foreach (string quesiton in appState.questionList)
        {
            <RadioOption onclick=@(args => appState.removeQuestionFromList(quesiton)) Answer=@quesiton/>
        }

    </RadzenCard>   
</div>

@code {

}