<div class="col-md-6 col-lg-4 p-3">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Enter your Text Question</RadzenText>
        <RadzenTextBox Placeholder="Text Question" Change=@(args => OnChange(args, "TextBox with placeholder")) class="w-100" />
    </RadzenCard>
</div>

@code {

    void OnChange(string value, string name)
    {
        Console.WriteLine(value);
    }
}
