@using BlazorApp1.Shared

<div class="p-1">
    <RadzenCard>
        <RadzenText>@quesitonNumber</RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">
            Enter your Boolean Question
        </RadzenText>
        <RadzenTextArea @bind-Value=@QuestionText Change=@(args => SetQuestionLocal()) Placeholder="Enter here..." Cols=40 />
    </RadzenCard>
</div>

@code {
    [Parameter]
    public int quesitonNumber { get; set; }

    [Parameter]
    public string QuestionText { get; set; }

    [Parameter]
    public EventCallback<Question> SetQuestion { get; set; }

    private async Task SetQuestionLocal() => await SetQuestion.InvokeAsync(
        new Question
            {
                QuestionNumber = quesitonNumber,
                question = QuestionText,
                QuestionType = QuestionType.BooleanQuestion,

            }
    );
}
