@using BlazorApp1.Shared

<div class="p-1">
    <RadzenCard>
        <RadzenText>@quesitonNumber</RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">
            Enter your Text Question
        </RadzenText>
        <RadzenTextArea @bind-Value=QuestionText Change=@(args => SetQuestionLocal()) Placeholder="Enter here..." />
    </RadzenCard>
</div>

@code {
    [Parameter]
    public int quesitonNumber { get; set; }

    [Parameter]
    public string QuestionText { get; set; }

    [Parameter]
    public EventCallback<Question> SetQuestion { get; set; }

    // although this is creating a new question it is replacing the old question
    private async Task SetQuestionLocal() => await SetQuestion.InvokeAsync(
        new Question
            {
                QuestionNumber = quesitonNumber,
                QuestionType = QuestionType.TextQuestion,
                question = QuestionText
            }
    );
}
