<div class="p-1">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">
            Enter your Text Question
        </RadzenText>
        <RadzenTextArea Placeholder="Enter here..." />
    </RadzenCard>
</div>

@code {

}
